/* styles.css */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.internal {
    display: flex;
    align-items: center;
    width: 800px; /* temporary max width */
}

.header {
    background-color: #1F2937;
    padding: 24px;
}

.main {
    background-color: #1F2937;
}

.features {

}

.testimonial {
    background-color: #E5E7EB;
}

.call-to-action {

}

.footer {
    background-color: #1F2937;
}

.header .internal {
    justify-content: space-between;
}

.main .internal {

}

.features .internal {
    flex-direction: column;
}

.testimonial .internal {
    flex-direction: column;
}

.call-to-action .internal {
    justify-content: space-between;
    align-items: center;
}

.footer .internal {
    justify-content: center;
    align-items: center;
}

.testimonial .internal .quote-attribution {
    align-self: flex-end;
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 12px;
}

.main .internal .left {
    flex: 1;
}

.main .internal .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .internal .left {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.call-to-action .internal .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* li {
    margin-left: 12px;
} */

a {
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}