/* styles.css */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

 .section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.internal {
    display: flex;
    align-items: center;
    width: 800px; /* temporary max width */
}

/* allow non-footer containers to expand to fill page vertically if not enough content */
.main,
.features,
.testimonial,
.call-to-action {
    flex: 1 0 auto; /*possible that this should just be auto? */
}

.header {
    background-color: #1F2937;
    padding: 24px;
}

.main {
    background-color: #1F2937;
}

.features {

}

.testimonial {
    background-color: #E5E7EB;
}

.call-to-action {

}

.footer {
    background-color: #1F2937;
}

.header .internal {
    justify-content: space-between;
}

.main .internal {

}

.features .internal {
    flex-direction: column;
}

.testimonial .internal {
    flex-direction: column;
}

.call-to-action .internal {
    justify-content: space-between;
    align-items: center;
}

.footer .internal {
    justify-content: center;
    align-items: center;
}

.testimonial .internal .quote-attribution {
    align-self: flex-end;
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 12px;
}

.main .internal .left {
    flex: 1;
}

.main .internal .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .internal .left {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.call-to-action .internal .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* li {
    margin-left: 12px;
} */

a,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}

button,
.call-to-action .internal {
    background-color: #3882F6;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}